<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %-40logger{40}: %msg%n%ex</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="mike.demo" level="DEBUG"/>
    <logger name="mike.demo.unit" level="DEBUG"/>
</configuration>